1.	Write a Python program to print the following string in a specific format (see the output).
Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high, Like a diamond in the sky.
Twinkle, twinkle, little star,
How I wonder what you are

2.	Write a Python program to get the Python version you are using
3.	Write a Python program to display the current date and time.
4.	Write a Python program which accepts the radius of a circle from the user and compute the area.
5.	Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.
6.	Write a python program which takes two inputs from user and print them addition

7.	Write a program which takes 5 inputs from user for different subjectâ€™s marks, total it and generate mark sheet using grades ?

8.	Write a program which take input from user and identify that the given number is even or odd?

9.	Write a program which print the length of the list?

10.	Write a Python program to sum all the numeric items in a list?

11.	Write a Python program to get the largest number from a numeric list.

12.	Take a list, say for example this one:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
Write a program that prints out all the elements of the list that are less than 5.

In [23]:
#1
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [ ]:
#2
import platform
print(platform.python_version())

3.7.12

In [ ]:
#3
from datetime import datetime
time=datetime.now()

print(f"I have started assignment 3 at {time } ")

I have started assignment 3 at 2021-10-21 20:11:32.317582

In [26]:
#4
import math
r=float(input("Enter the raidus of the circle :  "))
a=math.pi*r**2
print(f"The area of cirlce is {a} with a raidus of {r}")

Enter the raidus of the circle :  4.5
The area of cirlce is 63.61725123519331 with a raidus of 4.5

In [27]:
#5
fn=str(input("Enter the first name : "))
ln=str(input("Enter the last name : "))
username=(fn+' '+ln)
R=username[::-1]
print(R)

Enter the first name : Jawwad
Enter the last name : Shah
hahS dawwaJ

In [ ]:
#6
num1=int(input("Enter Number 1 : "))
num2=int(input("Enter number 2 : "))
Result=num1+num2
print(f"The addition of {num1} and {num2} are {Result}")

Enter Number 1 : 50
Enter number 2 : 70
The addition of 50 and 70 are 120

In [35]:
#7
mark = []
tot = 0
print("Enter Number of Subjects: ")
subNo = int(input())
print("Enter Marks Obtained in " + str(subNo) + " Subjects: ")
for i in range(subNo):
    mark.append(input())

for i in range(subNo):
    tot = tot + int(mark[i])
avg = tot/subNo

if avg>=91 and avg<=100:
    print("Grade = A1")
elif avg>=81 and avg<91:
    print("Grade = A2")
elif avg>=71 and avg<81:
    print("Grade = B1")
elif avg>=61 and avg<71:
    print("Grade = B2")
elif avg>=51 and avg<61:
    print("Grade = C1")
elif avg>=41 and avg<51:
    print("Grade = C2")

else:
    print("Invalid Input!")

Enter Number of Subjects:
5
Enter Marks Obtained in 5 Subjects:
70
80
85
97
90
Grade = A2

In [1]:
#8
def evenodd():
  num=int(input("Enter the number : "))
  if (num%2)==0:
    print(f"The number {num} is even ")
  else:
    print(f"The number {num} is odd " )  

evenodd()

Enter the number : 29
The number 29 is odd

In [ ]:
#9
L=["Jawwad",4.4,"Hello",29,4.00,"a"]
print(len(L))

6

In [ ]:
#10
L=[2,3,4,5,6,7,8,9,10]
sum=0

for x in range(len(L)):
  sum=sum +L[x]

print(sum)

54

In [ ]:
#11
N=[]
for x in range(1,11):
  Numbers=int(input("Enter the numbers : "))
  N.append(Numbers)

print("maximum numbers of the list are : ",max(N))

Enter the numbers : 51
Enter the numbers : 22
Enter the numbers : 45
Enter the numbers : 67
Enter the numbers : 89
Enter the numbers : 99
Enter the numbers : 119
Enter the numbers : 67
Enter the numbers : 88
Enter the numbers : 89
maximum numbers of the list are :  119

In [ ]:
#12
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b= [x for x in a if x<5]
print(b)

[1, 1, 2, 3]